<h1>About us</h1>
<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">We here at Kelvin's Bakery are a small business looking to give you the best in baked goods! </p>
  <hr class="my-4">
  <p>Please have a look at our menu!</p>
  <p class="lead">
    <%= link_to "Menu", products_path%>
  </p>
</div>
